$min_width: 10rem;
$max_width: 26rem;
$min_height: 22rem;

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // background: {
  //     image:url('../../assets/background.png');
  //     repeat: no-repeat;
  //     size:cover;
  // };

  .login-form-wrapper {
    background-color: white;
    border-radius: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: $max_width;
    min-width: $min_width;
    min-height: $min_height;
    opacity: 0.8;
    padding: 1rem;

    a {
      color: white !important;
    }

    .login-form {
      max-width: 300px;
      text-align: center;

      .login-form-field {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
      }
    }
  }
}
